
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header style="background-color: white; border-bottom : 1px solid #a7a7a7">
    <div class="container px-0 py-2">
        <nav class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center" id="nav-title">
                <img src="~/img/icon-library.png" alt="Memleket Kütüphanesi Logo" style="width: 40px;">
                <h5 class="m-0 ms-2"><a style="text-decoration : none;color : black" asp-controller="Home" asp-action="Anasayfa">Memleket Kütüphanesi</a></h5>
            </div>
            <div id="nav-navigation" class="d-flex align-items-center justify-content-between" style="width: 22%;">
                <a class="text-dark fw-semibold" style="text-decoration: none;" asp-controller="Home" asp-action="AboutPage">Hakkımızda</a>
                <a class="text-dark fw-semibold" style="text-decoration: none;" asp-controller="Home" asp-action="ContentPage">İletişim</a>
                <div>
                    <i class="fas fa-user header-user-profile-icon"></i>
                    <a class="text-dark fw-semibold" style="text-decoration: none;" asp-controller="Login" asp-action="_UserLogin">Giriş Yap</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="container px-0 my-4">
    <div style="border-bottom : 1px solid #a7a7a7" class="mb-3">
        <h4 class="fw-bold text-body-emphasis">Kütüphane Hakkında</h4>
    </div>
    <div class="row">
        <div class="col-7">
            <p>Memleket Kütüphanesi kurulum çalışmalarına, Kaan Tetik ve Şevval Çiğdem öncülüğünde 2020 yılında başlanmıştır.Kütüphane, 125.000 m² alanda 5.500 kişilik oturma kapasitesi ile okuyuculara hizmet vermektedir.</p>
            <p>Koleksiyonumuzda 2.360.000 basılı kaynak, 14.101 adet basılı dergiye ait 2.033.103 sayı mevcuttur. Ayrıca, erişim sağlanan 69 adet veritabanı içeriğinde; 750.000 e-kitap, 7.000.000 elektronik tez ve 120.000’e yakın e-dergiye ait 240.000.000’dan fazla makale, rapor, vb. bulunmaktadır. Bu bilgi kaynaklarının okuyuculara sunum hizmetleri modern kütüphanecilik anlayışı ile verilmektedir. Memleket Kütüphanesi, ülkemizin en büyük kütüphanesi olup koleksiyonları ve hizmetleri açısından dünyanın sayılı kütüphaneleri arasına girmeyi amaçlamaktadır.</p>
        </div>
        <div class="col-5 bg-danger px-0">
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

