@{
    ViewData["Title"] = "Memleket Kütüphanesi | Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header style="background-color: white; border-bottom : 1px solid #a7a7a7">
    <div class="container px-0 py-2">
        <nav class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center" id="nav-title">
                <img src="~/img/icon-library.png" alt="Memleket Kütüphanesi Logo" style="width: 40px;">
                <h5 class="m-0 ms-2"><a style="text-decoration : none;color : black" asp-controller="Home" asp-action="Anasayfa">Memleket Kütüphanesi</a></h5>
            </div>
            <div id="nav-navigation" class="d-flex align-items-center justify-content-between" style="width: 22%;">
                <a class="text-dark fw-semibold" style="text-decoration: none;" asp-controller="Home" asp-action="AboutPage">Hakkımızda</a>
                <a class="text-dark fw-semibold" style="text-decoration: none;" asp-controller="Home" asp-action="ContentPage">İletişim</a>
                <div>
                    <i class="fas fa-user header-user-profile-icon"></i>
                    <a class="text-dark fw-semibold" style="text-decoration: none;" asp-controller="Login" asp-action="_UserLogin">Giriş Yap</a>
                </div>
            </div>
        </nav>
    </div>
</header>

<main>
    <div style="position: relative;">
        <img src="~/img/main-banner.png" style="width: 100%; height: 70%;">
    </div>
    <div style="position: absolute;left: 8%;top: 25%;color: white; width: 35%;">
        <h2 class="fw-bold">İNŞA EDİLEN BİR KÜTÜPHANE YARATILAN BİR HAYATTIR.</h2>
    </div>
</main>

<div>
    <div class="container px-0 py-4 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center rounded-3" style="height : 125px; width: 50%;background-color: #ddddddee;position: relative;">
            <span style="font-size: 25px;" class="fw-semibold">Hayatta en hakiki mürşit ilimdir.</span>
        </div>
        <img src="~/img/mustafa-kemal-ataturk-imzasi-png-photo-8.png" alt="" style="width: 70px; position: absolute; left: 875px; top: 600px;">
    </div>
</div>

<div class="container px-0 mb-5">
    <div class="row">
        <div class="col-4 px-0">
            <table class="table border">
                <thead>
                    <tr>
                        <th scope="col">Duyurular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kütüphanemiz yeni açılmıştır.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table border">
                <thead>
                    <tr>
                        <th scope="col">Toplam Kapasite</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Doluluk %67</td>
                    </tr>
                    <tr>
                        <td>Kapasite 2500</td>
                    </tr>
                    <tr>
                        <td>Boş Yer 822</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table border">
                <thead>
                    <tr>
                        <th scope="col">Gün</th>
                        <th scope="col">Çalışma Saatleri</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Pazartesi</th>
                        <td>09:00 - 17:00</td>
                    </tr>
                    <tr>
                        <th>Salı</th>
                        <td>09:00 - 17:00</td>
                    </tr>
                    <tr>
                        <th>Çarşamba</th>
                        <td>09:00 - 17:00</td>
                    </tr>
                    <tr>
                        <th>Perşembe</th>
                        <td>09:00 - 17:00</td>
                    </tr>
                    <tr>
                        <th>Cuma</th>
                        <td>09:00 - 17:00</td>
                    </tr>
                    <tr>
                        <th>Cumartesi</th>
                        <td>09:00 - 17:00</td>
                    </tr>
                    <tr>
                        <th>Pazar</th>
                        <td>09:00 - 17:00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

