
@{
    ViewData["Title"] = "Personel Kayıt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MemleketKütüphanesi_.Models.Employee

<script src="~/jquery/jquery.min.js"></script>
<script src="~/jquery-validate/jquery.validate.min.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<div id="user-login-form" class="rounded-4 bg-white p-3" style="position: absolute; left: 14%; top: 17%; margin-left: -50px; margin-top: -50px;width: 80%;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <div class="login-form-title">
            <div class="card-header d-flex flex-column align-items-center mb-3">
                <img src="~/img/icon-library.png" style="width: 45px;">
            <h5 style="font-weight: bold;"><a style="text-decoration : none;color : black" asp-controller="Home" asp-action="Anasayfa">Memleket Kütüphanesi</a></h5>
                <span style="font-weight: 500;">Personel Kayıt Ol</span>
            </div>
        </div>
        <form asp-controller="Login" asp-action="_EmployeeRegister" method="post">
            <div class="row">
                <div class="col-4">
                    <div style="height : 80px;">
                        <label for="login-name" style="color: rgb(56, 56, 56);font-size: 14px;">İsim</label>
                        <input type="text" class="form-control" id="login-name" asp-for="Name">
                        <span style="font-size:11px;" class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div style="height : 80px;">
                        <label for="login-surname" style="color: rgb(56, 56, 56);font-size: 14px;">Soyisim</label>
                        <input type="text" class="form-control" id="login-surname" asp-for="Surname">
                        <span style="font-size:11px ;" class="text-danger" asp-validation-for="Surname"></span>
                    </div>
                    <div style="height : 80px;">
                        <label for="login-tcno" style="color: rgb(56, 56, 56);font-size: 14px;">Tc No</label>
                        <input type="number" class="form-control" id="login-tcno" asp-for="TcNo">
                    <span style="font-size:11px ;" class="text-danger" asp-validation-for="TcNo">@ViewBag.TcErrorMessage</span>
                    </div>
                    <div class="d-flex align-items-center" style="height : 80px;">
                        <span style="color: rgb(56, 56, 56);font-size: 14px;margin-right :1em;">Cinsiyet</span>
                        <div>
                            <label class="form-check-label me-1 " for="flexRadioDefault1" style="font-size:14px ; color: rgb(56, 56, 56);">
                                Erkek
                            </label>
                            <input checked id="Gender" class="me-2" name="Gender" type="radio" value="Erkek"/>
                            <label class="form-check-label me-1" for="flexRadioDefault2" style="font-size:14px ; color: rgb(56, 56, 56);">
                                Kadın
                            </label>
                            <input checked id="Gender" name="Gender" type="radio" value="Kadın"/>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div style="height : 80px;">
                        <label for="login-email" style="color: rgb(56, 56, 56);font-size: 14px;">E-Posta</label>
                        <input type="email" class="form-control" id="login-email" asp-for="Email">
                    <span style="font-size:11px ;" class="text-danger" asp-validation-for="Email">@ViewBag.EmailErrorMessage</span>
                    </div>
                    <div style="height : 80px;">
                        <label for="login-password" style="color: rgb(56, 56, 56);font-size: 14px;">Şifre</label>
                        <input type="password" class="form-control" id="login-name" asp-for="Password">
                        <span style="font-size:11px ;" class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div style="height : 80px;">
                        <label for="login-birthday" style="color: rgb(56, 56, 56);font-size: 14px;">Doğum Tarihi</label>
                        <input type="datetime" class="form-control" id="login-birthday" asp-for="BirthDay">
                        <span style="font-size:11px ;" class="text-danger" asp-validation-for="BirthDay"></span>
                    </div>
                    <div style="height : 80px;">
                        <label for="login-phone" style="color: rgb(56, 56, 56);font-size: 14px;">Telefon Numarası</label>
                        <input type="number" class="form-control" id="login-phone" asp-for="PhoneNumber">
                        <span style="font-size:11px;" class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div style="height : 80px;">
                        <label for="login-email" style="color: rgb(56, 56, 56);font-size: 14px;">Adres</label>
                        <label for="" class="form-label"></label>
                        <textarea class="form-control" name="Address" id="" rows="3" asp-for="Address"></textarea>
                        <span style="font-size:11px ;" class="text-danger" asp-validation-for="Address"></span>
                    </div>
                <div class="mt-3 d-flex flex-column">
                    <button class="btn btn-outline-dark ms-auto mt-5" style="font-size: 12px;">Kayıt Ol</button>
                    <span class="text-danger ms-auto fw-semibold my-2" style="font-size: 12px;">@ViewBag.ErrorRegisterMessage</span>
                    <span class="text-success ms-auto fw-semibold my-2" style="font-size: 12px;">@ViewBag.SuccessRegisterMessage</span>
                    <span style="font-size:14px;" class="ms-auto">Kullanıcı girişi yapmak <a style="font-size:14px;" asp-controller="Login" asp-action="_EmployeeLogin">buraya </a>tıklayın.</span>
                </div>
                </div>
            </div>
        </form>
    </div>

