
@{
    ViewData["Title"] = "_PartialUserLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MemleketKütüphanesi_.Models.User

<div id="login-card" class="bg-white rounded-4 p-3" style="position: absolute; left: 42%; top: 20%; margin-left: -50px; margin-top: -50px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
    <div class="d-flex flex-column">
        <div class="card-header d-flex flex-column align-items-center mb-3">
            <img src="~/img/icon-library.png" alt="Kütüphane Logo" style="width: 70px;" class="mb-2">
            <h4 style="font-weight: bold;">Memleket Kütüphanesi</h4>
            <span style="font-weight: 500;">Kullanıcı Girişi Yap</span>
        </div>
        <div class="card-body">
            <form asp-controller="Login" asp-action="_PartialUserLogin" method="post">
                <div>
                    <label for="email">E-Posta</label>
                    <input type="email" class="form-control" id="email" style="width: 350px;" name="email" asp-for="Email">
                    <span style="font-size:13px;" asp-validation-for="Email"></span>
                </div>
                <div>
                    <label for="login-password">Şifre</label>
                    <input type="password" class="form-control" id="login-password" name="password" asp-for="Password">
                    <span style="font-size:13px;" asp-validation-for="Password"></span>
                </div>
                <div class="card-footer">
                    <div class="d-flex flex-column align-items-end mt-3">
                        <span class="mb-2 text-danger" style="font-size:14px;">@ViewBag.ErrorMessage</span>
                        <button class="btn btn-outline-dark">Giriş Yap</button>
                        <div class="mt-4 d-flex flex-column">
                            <span style="font-size:14px;" class="ms-auto">Hesabiniz yoksa <a style="font-size:14px;" asp-controller="Login" asp-action="_PartialUserRegister">buraya </a>tiklayin.</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

